<%- include('headerfooter/header'); -%>

 <br>
 <br>
 <br>

 <div class="container">

  <div class="row align-items-start">
   
    <div class="col-lg-6">
      <h1 class="myn animate__animated animate__backInLeft myname">I'm Naved Adenwala.</h1>
      <p class="myn2 animate__animated animate__backInUp datasc">- a Data Scientist</p>
    </div>
    
    <div class="col-lg-3">
        <img src="images/mypic (1).jpg" alt="Client" id="myphoto" class="animate__animated animate__bounceIn ">
    </div>
  </div>
 
   
 
                 
  <h2 class="hel bol">Hello</h2>
  <p class="qual para">I'm Learning Data science & Machine Learning also I have done BMS in Finance</p>
<hr id="myline">
                
                <div class="skills">
            
                  <h2 class="bol">My Skills</h2>
                  <div class="row ">
                    <div class="col-lg-2 sk">
                      <img src="images/excel.png" alt="cloud-img" id="excel"></img>
                    </div>
                    <div class="col-lg-2 sk">
                      <img src="images/powerbi.png" alt="cloud-img" id="power"></img>
                    </div>
                    <div class="col-lg-2 sk">
                      <img src="images/python_log.png" alt="cloud-img" id="python"></img>
                    </div>
                  </div>
                  
                  <div class="row ">
                    <div class="col-lg-2 sk">
                      <img src="images/tableau.png" alt="cloud-img" id="tableau"></img>
                    </div>
                    <div class="col-lg-2 sk">
                      <img src="images/mysql.png" alt="cloud-img" id="sql"></img>
                    </div>
                    
                  </div>
                  
                  
                  <div class="row ">
                  
                    <div class="col-lg-8 ">
                      <h3 class="desdev bol" >Design & Development</h3>
                    <p class="para">I started learning when I was 12 years old because I have to make my own websites and tools.</p>
                    </div>
                    <div class="col-lg-4">
                      <img class="dev" src="images/develpoment.gif" alt="">
                    </div>
                  </div>
                  
                  <div class="row ">
                  
                  
                    <div class="col-lg-6">
                      <h3 class="bol">Additional Skills</h3>
                    </div>

                    <div class="col-lg-4">
                      <img class="vid vid2" src="images/video.png" alt="">
                    </div>
                      <div class="col-lg-8 ">
                        <p class="video para">I am also a professional video editor.I have worked with many Education,Business and wedding videos.</p>
                    </div>
                  </div>
               
                  <div class="row ">
              
                    <div class="col-lg-12">
                      <video controls src="videos/portfolio.mp4" class="port"  ></video>
                    </div>
                     
                  </div>
                   
                  <div class="row ">
              
                    <div class="col-lg-7">
                      <h3 class="carrom-2 bol">Love Playing Carrom</h3>
                      <img src="images/carrom.png" id="board">
                    </div>
                     
                    <div class="col-lg-8">
                      
                      <p class="carrom-2 para">If you love playing carrom as much as I do let's talk together and gain some experience.</p>
                    </div>
                  </div>

                <div>
                  
                  <div class="row ">
              
                    <div class="col-lg-7">
                      <h2 id="get-in" class="bol">Get In Touch</h2>
                    </div>

                    <div class="col-lg-7">
                      <p id="intro" class="para">Want to contact me ? Let's talk together and solve the real world problems.</p>
                    </div>
                  
                <div>
                
                 
                   
                   
                    <a class="btns" href="mailto:boychocolate503@gmail.com">Contact Us</a>
                  </div>
                </div>
              </div>
     </div>
    </div>
   
 
<%- include('headerfooter/footer'); -%>