
<%- include('headerfooter/header'); -%>
<body class="bod">
    

<br>
<br>
<br>
 

<div class="container">
    <h1 class="bol">Client Services</h1>
    <br>
    <div class="row align-items-start">
        <p class="col-lg-6 para" >Being customer-centric has become more than necessary for modern companies to sustain in this competitive world. Customers need to be treated with utmost care right from the beginning of their relationship. Hence, to maintain such relationships, there are many roles that fulfill this responsibility.</p>
        
        <div class="col-lg-6">
            <img src="images/clien.png" alt="Client" id="clie" class="animate__animated animate__bounceInDown">
        </div>
    <div >

        <p class="col-lg-6 para">Client Service Managers help ensure clients receive exceptional service while the business's sales goals are supported. They work directly with clients as well as overseeing a team of Client Service Representatives. They work to develop and implement client service strategies that will increase sales while providing a positive experience for all clients. Client Services Managers may work in many different industries, including healthcare, insurance, and beyond.</p>

      
    </div>
   
    
    <div class="row align-items-start">
        <h1 class="bol">Client Services Responsibilities</h1>
        <br>
        <p class="para">Client Service Managers help ensure clients receive exceptional service while the business's sales goals are supported. They work directly with clients as well as overseeing a team of Client Service Representatives. They work to develop and implement client service strategies that will increase sales while providing a positive experience for all clients. Client Services Managers may work in many different industries, including healthcare, insurance, and beyond.</p>
    </div>
    <img src="images/client2.png" alt="Client" id="clie" class="cl">
    <div class="row align-items-start">
       
<p class="para">They are responsible for the performance of the client services team. The quality of service they give to the customer depends on how well a CSM is able to manage and direct the team. They make customer-centricity a main priority for the team. They are responsible for holding the team members accountable for any service issue and removing their roadblocks.</p>
 
</div>  
 
    
    </div>

</div>
 

<%- include('headerfooter/footer'); -%>